<div class="rentals">
  <label>
    <span>Where would you like to stay?</span>
    <Input @value={{this.query}} class="light"/>
  </label>





  <ul class="results">
    <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} as |banana|>

      {{#each banana as |rental|}}
        <!--        <p>{{this.query}}</p>-->
        <li>
          <Rental @rental={{rental}} />
        </li>
      {{/each}}
    </Rentals::Filter>
  </ul>
</div>